/* styles/globals.css */
.custom-quill {
    background-color: #A7F3D0; /* Emerald background */
    border-radius: 12px; /* Optional: Adds rounded corners */
    padding: 10px; /* Optional: Adds padding inside the editor */
    padding-top: 0;
    border: 0;
    max-width: 1200px;
    margin: 0 auto;
    color: black;
  }
  
  .custom-quill .ql-toolbar {
    background-color: #A7F3D0; /* Same emerald background for the toolbar */
    border: 0;
  }

  .custom-quill .ql-toolbar .ql-fill{
    fill: black
  }
  .custom-quill .ql-toolbar .ql-stroke{
    stroke: black;
  }
  .custom-quill .ql-picker-label{
    color: black;
  }
  .custom-quill .ql-toolbar .ql-fill:active{
    fill:darkgreen;
  }

  .custom-quill .ql-toolbar .ql-stroke:active{
    fill:darkgreen;
  }
  
  .custom-quill .ql-container {
    background-color: white; /* Editor content background to contrast the toolbar */
    height: 400px; /* Optional: Set the editor height */
    border-radius: 8px;
    border: 0;
    font-family: monospace;
  }
  
  .ql-align-center{
    text-align: center;
  }

  /* for reading */
  .custom-quill-for-reading .ql-toolbar{
    height: 0;
    border: 0;
    padding: 0;
    margin: 0;
    overflow: hidden;
  }
  /* .custom-quill-for-reading .ql-toolbar .ql-fill{
    fill: transparent
  }
  .custom-quill-for-reading .ql-toolbar .ql-stroke{
    stroke: transparent;
  } */
  .custom-quill-for-reading .ql-container{
    border: 0;
  }
  /* .custom-quill-for-reading{
    border: 2px solid black
  } */

